@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
h1 {
  text-align: center;
}
.container-body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.btn-body {
  display: flex;
  gap: 1rem;
  border: none;
}

.btn-body a {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}
